---
layout: 'base.liquid'
---

<main class="grid gap-4
	     md:grid-cols-3
	     ">
	{%-for post in posts-%}
		<section class="rounded-xl border-black border-2">
		{{post.title}}
		</section>
	{%-endfor-%}
</main>
