---
layout: 'base.liquid'
---

<main>
	<ul class="grid
		   gap-4
		   md:grid-cols-3
		   ">
		{%assign latest_nine_posts = posts | sort: 'date' | reverse | slice: 0, 9%}
		{%-for post in latest_nine_posts-%}
			<li>
				<a href="{{-post.uri-}}" target="_blank" rel="noreferrer">
				{%-render 'post_card.liquid', post: post-%}
				</a>
			</li>
		{%-endfor-%}
	</ul>
	{%comment%}
		<a href="/publications"
	   class="block underline text-sm text-slate-500 text-center
		  hover:drop-shadow-xl"
		>SEE MORE</a>
	{%endcomment%}
</main>
