---
layout: 'base.liquid'
---

<main>
	<ul class="grid
		   gap-4
		   md:grid-cols-3
		   ">
		{%-for post in posts-%}
			<li>
				<a href="{{-post.uri-}}" target="_blank" rel="noreferrer">
				{%-render 'post_card.liquid', post: post-%}
				</a>
			</li>
		{%-endfor-%}
	</ul>
</main>
