---
layout: 'base.liquid'
---


<main class="
	   m-4
	   md:m-16
	   grid gap-4 md:gap-16"
	>
	<section class="p-4 md:p16 rounded bg-theme-light grid md:grid-cols-2 justify-items-end">
	<div>
		<p>
			Three-quarter journalist, writer, editor. One-quarter civil engineer. Restoration.
		</p>
		<p>
			Byline VillageSqIndia MongabayIndia, Rural21, IPS, etc.
		</p>
	</div>
	<img src="{{ '/asset/cover.jpg' | url }}" alt="a smiling Jency with a few stray grays"
						  class="rounded-full float w-24 md:w-64"
	>
	</section>

	<section>
	<h2 class="text-lg text-theme-dark uppercase">Showcase</h2>
	<ul class="grid
		   auto-cols-fr auto-rows-fr
		   gap-4
		   lg:gap-16
		   lg:grid-cols-3
		   ">
		{%assign latest_nine_posts = posts | sort: 'date' | reverse | slice: 0, 9%}
		{%-for post in latest_nine_posts-%}
			<li>
				<a href="{{-post.uri-}}" target="_blank" rel="noreferrer">
				{%-render 'post_card.liquid', post: post-%}
				</a>
			</li>
		{%-endfor-%}
	</ul>
	</section>
	{%comment%}
		<a href="/publications"
	   class="block underline text-sm text-slate-500 text-center
		  hover:drop-shadow-xl"
		>SEE MORE</a>
	{%endcomment%}
</main>
