:root {
    --bg-color: #000000;
    --fg-color: #ffffff;
    --theme-accent: 120, 65%, 46%;
    --theme-dark: 120, 45%, 24%;
    --theme-light: 120, 46%, 47%;
    --theme-color-accent: hsl(var(--theme-accent));
    --theme-color-dark: hsl(var(--theme-dark));
    --theme-color-light: hsl(var(--theme-light));
}
