.cover-section {
    border-radius: 32px;
    flex: 0 1 clamp(20vw,320px,90vw);
    margin: 2ch;
    padding: 1.5ch;
    background-color: hsla(var(--theme-light),33%);
}

main {
    max-width: 90vw; /* reset index.css */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
