.cover-section {
    border-radius: 32px;
    border: 1px solid pink;
    flex: 1 0 150px;
    min-width: 23vw;
    margin: 2ch;
    padding: 1.5ch;
}

main {
    max-width: 90vw; /* reset index.css */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
