* {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  padding: 0px;
}

main {
    max-width: clamp(50%, 400px, 90%);
    margin: 0px auto;
}
footer,header {
  margin:15px 0px 15px 0px;
  width: 100%;
  text-align: center;
  display: grid;
}

nav {
  background-color: var(--theme-color-dark);
}
ul.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
ul.nav > li {
  margin: 1ch;
}
a:link.nav {
  transition: 0.25s;
  text-decoration: underline dotted;
  color: white;
  font-size: 1.35em;
}
a:link:hover.nav {
  /* font-size: 1.75em; */
  text-shadow: 0px 0px 15px var(--theme-color-accent);
}
a:link.nav.current {
  /* font-size: 1.75em; */
  text-shadow: 0px 0px 15px var(--theme-color-accent);
}
.footer-icon {
    height: 25px;
    text-decoration: none
}
