---
layout: 'base.liquid'
permalink: '/404.html'
---
<main class="text-center space-y-3">
	<big class="block text-2xl">404!</big>
	<big class="block">The page you are trying to access does not exist</big>
	<a href="{{ '/' | url }}" class="block underline text-blue-700">Return to homepage</a>
</main>
